{% load static %}
{% if path_breakers_list %}

    {% for pathbreaker in path_breakers_list %}
        <div class="result-div" data-ix="image-hover">
            <img src="{{ pathbreaker.profilePic.url }}" width="280" srcset = " {{pathbreaker.profilePic.url}} 600w" sizes="280px" alt="" class="image result-image" data-ix="image-hover">
			<div class="overlay">
				<div class="w-node-resulthover div-block-2">
				  <h1 class="heading-6 name"> {{ pathbreaker.name }} </h1>
				  <div class="div-block-5">
					<h5 class="heading-7">{{ pathbreaker.degree }} &#x27;{{ pathbreaker.yog }}</h5>
					<h5 class="heading-7"> | </h5>
					<a href="{{ pathbreaker.link }}" class="link">know more</a>
				  </div>
				  <h5 class="heading-7 desc">{{ pathbreaker.blurb }}</h5>
				  <div class="div-block-3"></div>
				  <div id="tags" class="div-block-4">
					  {% for tag in pathbreaker.professionTag.all %}
					   <a  href="http://www.google.com" class="button w-button">{{ tag.tag }}</a>
					  {% endfor %}
				  </div>
				</div>
        	</div>
		</div>

    {% endfor %}
<script>
    updateCount();
</script>
{% else %}
<script>
    resetCount();
</script>
    <p>No path breakers available.</p>
{% endif %}
